body {
  font-family: Arial, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

  .header {
  position: sticky;
  top: 0;
  background: blue;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

  .navbar-left a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

  main {
  display: flex;
  flex: 1;
  padding: 100px;
  gap: 60px;
}

  .aside {
  width: 250px;
  padding: 15px;
  background: white;
  border-left: 1px solid #ccc;
}

  .profile {
  text-align: center;
  margin-bottom: 20px;
}

  .profile img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

  .friends {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

  .friend {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

  .friend img {
  width: 100%;
  border-radius: 10px;
}
    
  .news-feed {
  flex: 1;
}

  .card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

  .card img {
  border-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

  footer {
  background: blue;
  color: white;
  text-align: center;
  padding: 5px;
}
